<% if (alert) { %>
    <script>
      Swal.fire({
        icon: '<%= alert.icon %>',
        title: '<%= alert.title %>',
        text: '<%= alert.text %>',
      });
    </script>
  <% } %>
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form action="/auth/account_recovery" class="ui big form" method="POST">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="field">
                    <label class="form-label" for="username">Nombre de usuario</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Escribe tu nombre de usuario"/>
                    
                  </div>
              </div>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <!-- Submit button -->
                <button type="submit" class="ui big blue button btn-primary btn-block mb-4" onclick="registerValidation(event)"">Recuperar cuenta</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">Ya tienes una cuenta? <a href="/auth/login"
                    class="link-danger">Inicia Sesión</a></p>
    
            </div>
          
            
          </form>
        </div>
      </div>
    </div>
  </section>