<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Proveedores</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">InverLuna</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Usuarios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="usuarios.html">Usuarios</a></li>
                      <li><a class="dropdown-item" href="empleados.html">Empleados</a></li>
                    </ul>
                  </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="clientes.html">Clientes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="proveedores.html">Proveedores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="productos.html">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Facturacion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="inventario.html">Inventarios</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>   
    
    <div class="container p-3">
      <h3 class="text-center">Proveedores</h3>
      <table class="table table-bordered border-info table table-striped">
        <thead>
          <tr>
            <th scope="col">Proveedor</th>
            <th scope="col">Nombre del contacto</th>
            <th scope="col">Dirrecion</th>
            <th scope="col">ciudad</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo electronico</th>
            <th scope="col">Formas<br> de pago</br></th>
            <th scope="col">Dias de entrega <br>de mercancia</br></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">SurtirYa</th>
            <td>Yin palacios</td>
            <td>Calle 103 cra 20</td>
            <td>Turbo</td>
            <td>604-8273045</td>
            <td>yinanderson87@hotmail.com</td>
            <td>Efvo, Tarjeta</td>
            <td>10</td>
          </tr>
          <tr>
            <th scope="row">Lunata</th>
            <td>MIguel morales</td>
            <td>Calle 84 cra 15</td>
            <td>Apartado</td>
            <td>604-8282389</td>
            <td>miguelm.@hotmail.com</td>
            <td>Efvo, Tarjeta</td>
            <td>8</td>
          </tr>
          <tr>
            <th scope="row">Voypaya</th>
            <td>Ever vargas</td>
            <td>Calle 12 cra 105</td>
            <td>apartado</td>
            <td>604-8285477</td>
            <td>ever+.@hotmail.com</td>
            <td>Efvo, Tarjeta</td>
            <td>10</td>
          </tr>
          <tr>
            <th scope="row">Ya llegue</th>
            <td>Nelson velasquez</td>
            <td>Calle 100 cra 12</td>
            <td>Medellin</td>
            <td>604-7451298</td>
            <td>nelson10.@hotmail.com</td>
            <td>Efvo, Tarjeta</td>
            <td>15</td>
          </tr>
        </tbody>
      </table>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>