<% if (alert) { %>
    <script>
      Swal.fire({
        icon: '<%= alert.icon %>',
        title: '<%= alert.title %>',
        text: '<%= alert.text %>',
      });
    </script>
  <% } %>
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-5 offset-xl-1">
          <form action="/auth/register" class="ui big form" method="POST">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="field">
                <div class="three fields">
                  <div class="field">
                    <label class="form-label" for="rol">Rol</label>
                    <div class="ui selection dropdown">
                      <input type="hidden" name="rol_id">
                      <i class="dropdown icon"></i>
                      <div class="default text">Rol</div>
                      <div class="menu">
                        <div class="item" data-value="1">Admin</div>
                        <div class="item" data-value="0">Empleado</div>
                      </div>
                    </div>
                  </div>
                  

                  <div class="field">
                    <label class="form-label" for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Escribe tu nombre"/>
                  </div>
                  <div class="field">
                    <label class="form-label" for="correo">Correo</label>
                    <input type="text" id="correo" name="correo" class="form-control" placeholder="Escribe tu correo"/>
                  </div>
                </div>
            </div>
            <div class="ui two fields">

              <div class="field">
                <label class="form-label" for="telefono">Telefono</label>
                <input type="text" id="telefono" name="telefono" class="form-control" placeholder="Escribe tu telefono"/>
              </div>

              <div class="field">
                <label class="form-label" for="direccion">Direcci칩n</label>
                <input type="text" id="direccion" name="direccion" class="form-control" placeholder="Escribe tu direccion"/>
              </div>
          </div>
          <div class="ui two fields">
          <!-- Text input -->
          <div class="field">
            <label class="form-label" for="username">Nombre de usuario</label>
            <input type="text" id="username" name="nombre_usuario" class="form-control" placeholder="Escribe un nombre de usuario"/>
            
          </div>
          
          <!-- Text input -->
          <div class="field">
            <label class="form-label" for="password">Contrase침a</label>
            <input type="password" id="password" name="contrasena" class="form-control" placeholder="Escribe una contrase침a"/>
          </div>
        </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <!-- Submit button -->
          <button type="submit" class="ui big blue button btn-primary btn-block mb-4" onclick="registerValidation(event)"">Crear cuenta</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Ya tienes una cuenta? <a href="/auth/login"
                class="link-danger">Inicia Sesi칩n</a></p>
          </div>

            
          
            
          </form>
        </div>
      </div>
    </div>
  </section>
