.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.eye {
    cursor: pointer;
}
#my-chart.column {
    height: 200px;
    max-width: 300px;
    margin: 0 auto;
  }
